h1{
  color: red;
}

#bird-list{
  float: left;
  display: block;
 width: 49%; 
 background-color: blue;
 color: white;
}

#add-bird{
 width: 49%; 
 float: left;
 display: block;
 background-color: blue;
 color: black;
}

#bird-list > .bird{
  width: 50%;
  color: green;
  background-color: #453457;
}

.controls{
 border: 3px solid black; 
 padding: 5px;
}

.controls > a {
  color: yellow;
}

.btn{
  color: red;
  font-size: 1.2em;
  border-bottom: 3px solid blue;
  text-decoration: none;
}

form ol{
  list-style: none;
  padding-left: 5px;
}
