<div class='bird'>
  <div class='field'>
    <label>Name <%= bird.name %> </label>
  </div>
  <div class='field'>
    <label>Email <%= bird.email %> </label>
  </div>
  <div class='controls'>
    <a class='btn' href= <%="/birds/#{bird.id}/edit"%> >edit</a>
  </div>
</div>

