<h1>All Of The Birds</h1>
<div id='bird-list'>
  <% @birds.each do |curr_bird| %>
    <%= erb :'birds/_bird', locals:{bird: curr_bird}, layout: false %>
  <% end %>
</div>
<div id='add-bird'>
  <form action='/birds'>
    <input type='submit'>Show all the birds</input>
  </form>
</div>
<div id='controls'>
  <a id='newbird' class='btn' href='birds/new'>Make a New Bird</a>
  <a class='colorize' href='#'>Make this page beautiful</a>
</div>
<a href='#' id='btn-bird-count' > get bird count</a>
